.about-us {
  width: min(90%, 1100px);
  min-height: 100vh;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #314c62;
}
.about-us img {
  max-width: 400px;
}
.about-us .desc {
  margin-left: 30px;
  line-height: 1.6;
}
.about-us p {
  margin-bottom: 1rem;
}

@media (max-width: 800px) {
  .about-us {
    flex-direction: column;
  }
  .about-us .desc {
    margin: 2rem 0;
  }
}
