@media (max-width: 800px) {
  a {
    width: 45%;
  }
  a .card {
    height: 350px !important;
  }
  a .card img {
    height: 150px !important;
  }
  a .card .agency-logo {
    max-width: 60px !important;
  }
  a .card .agency-logo img {
    height: 30px !important;
  }
}
@media (max-width: 600px) {
  a {
    width: 100%;
  }
  a .card {
    max-width: 100% !important;
    height: 400px !important;
  }
  a .card img {
    height: 220px !important;
  }
  a .card .agency-logo {
    max-width: 150px !important;
  }
  a .card .agency-logo img {
    height: 40px !important;
  }
}
.buy-home {
  width: min(90%, 1100px);
  margin: 0 auto;
}
.buy-home .header {
  display: flex;
  height: 400px;
  transition: 0.3s ease-in;
}
.buy-home .header .img-container {
  flex: 5;
  background: url("../images/buy-home.jpg") center/cover;
}
.buy-home .header .desc-container {
  flex: 4;
  background-color: #314c62;
  color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy-home .header .desc-container .desc {
  max-width: 80%;
}
.buy-home .header .desc-container .desc .head {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.9;
}
.buy-home .header .desc-container .desc .title {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 12px 0;
}
.buy-home .header .desc-container .desc .sub {
  font-weight: 500;
  text-transform: capitalize;
}
@media (max-width: 750px) {
  .buy-home .header {
    height: 350px;
  }
  .buy-home .header .desc-container .desc .head {
    font-size: 16px;
  }
  .buy-home .header .desc-container .desc .title {
    font-size: 27px;
  }
}
@media (max-width: 600px) {
  .buy-home .header {
    height: 300px;
  }
}
@media (max-width: 500px) {
  .buy-home .header {
    position: relative;
  }
  .buy-home .header .img-container {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
  }
  .buy-home .header .desc-container {
    background-color: rgba(49, 76, 98, 0.7);
  }
}
.buy-home .main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px auto;
  gap: 50px;
}
.buy-home .main a {
  text-decoration: none;
  color: #314c62;
}
.buy-home .main .card {
  background-color: #fff;
  max-width: 333px;
  height: 400px;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.buy-home .main .card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.buy-home .main .card .content {
  padding: 5px 12px;
}
.buy-home .main .card .content .title {
  text-transform: uppercase;
  font-weight: 500;
}
.buy-home .main .card .content .desc1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
}
.buy-home .main .card .content .desc1 .price {
  text-align: center;
  display: flex;
  align-items: center;
}
.buy-home .main .card .content .desc1 .agency-logo {
  max-width: 100px;
}
.buy-home .main .card .content .desc1 .agency-logo img {
  height: 40px;
  width: 100%;
}
.buy-home .main .card .content .icons {
  padding-bottom: 8px;
  font-size: 18px;
}
.buy-home .main .card .content .desc2 {
  line-height: 1.3;
  font-size: 14px;
}
.buy-home .main .card:hover {
  box-shadow: 3px 6px 15px rgba(0, 0, 0, 0.2);
}
.buy-home .badge {
  height: 1.5rem !important;
  width: 1.5rem !important;
  margin-right: 8px;
  color: rgb(73, 226, 142);
}
.buy-home .icons {
  font-size: 14px;
  color: #314c62;
}
.buy-home .icons .icon {
  margin-left: 8px;
}
.buy-home .icons > :first-child {
  margin-bottom: -3px;
}
