.contact-container {
  position: relative;
}
.contact-container .img-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -99;
}
.contact-container .img-container .bg-img {
  background: url("../images/contact.jpg") center/cover;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -99;
}
.contact-container .img-container .bg-img::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #314c62;
  opacity: 0.8;
  position: absolute;
  z-index: -1;
}
.contact-container .contact {
  height: 100vh;
  width: min(90%, 1100px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-container .contact .text-container {
  max-width: 50%;
  margin: 1rem;
  color: #f7f7f7;
  line-height: 1.5;
  font-size: 18px;
}
.contact-container .contact .text-container .text {
  line-height: 1;
  font-size: 40px;
  max-width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 8px;
}
.contact-container .contact .form-container {
  background-color: #f7f7f7;
  margin: 1rem;
  max-width: 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  position: relative;
}
.contact-container .contact .form-container form {
  width: 70%;
  margin: 0 auto;
  font-family: inherit;
  font-size: 18px;
}
.contact-container .contact .form-container form input {
  width: 100%;
  margin-bottom: 8px;
  padding: 10px 5px;
  outline: none;
  border: 1px solid #314c62;
}
.contact-container .contact .form-container form .msg {
  height: 100px;
  width: 100%;
  padding: 5px;
  outline: none;
  margin-bottom: 0.5rem;
  resize: none;
}
.contact-container .contact .form-container form .btn-primary {
  padding: 10px 20px;
  border: none;
  background-color: #314c62;
  color: #f7f7f7;
  font-size: 16px;
  cursor: pointer;
  width: 103%;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.contact-container .contact .form-container form .btn-primary:hover {
  opacity: 0.9;
}
.contact-container .contact .form-container form .btn-primary:active {
  transform: scale(0.98);
}
.contact-container .contact .form-container form .err-msg {
  color: rgb(253, 188, 67);
  font-size: 14px;
  letter-spacing: 0.8px;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}
