body {
  background-color: #f7f7f7;
  overflow-x: hidden;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
  color: #314c62;
  letter-spacing: 0.5px;
  font-size: 16px;
}
.nav-container .navbar {
  width: 1100px;
  display: flex;
  align-items: center;
  position: relative;
}
.nav-container .navbar .logo {
  font-size: 18px;
  font-weight: bold;
  margin-right: 60px;
}
.nav-container .navbar .nav-links {
  display: flex;
}
.nav-container .navbar a {
  text-decoration: none;
  color: #314c62;
  margin-right: 30px;
  font-weight: 500;
  padding: 5px 0;
  position: relative;
}
.nav-container .navbar a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #314c62;
  left: 0;
  bottom: 0;
  z-index: 99;
  transform-origin: left;
  transform: scale(0);
  transition: transform 0.3s ease-in;
}
.nav-container .navbar a:hover:after {
  transform: scale(1);
}
.nav-container .navbar .services {
  position: relative;
}
.nav-container .navbar .services .dropdown {
  color: #314c62;
  font-weight: 500;
  padding: 5px 0;
  position: relative;
  cursor: pointer;
}
.nav-container .navbar .services .dropdown:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #314c62;
  left: 0;
  bottom: 0;
  z-index: 99;
  transform-origin: left;
  transform: scale(0);
  transition: transform 0.3s ease-in;
}
.nav-container .navbar .services .dropdown:hover:after {
  transform: scale(1);
}
.nav-container .navbar .services .dropdown-content {
  display: none !important;
  opacity: 0.9;
  position: absolute;
  background-color: #fff;
  padding: 10px 20px;
  width: 150px;
  left: 0;
  top: 30px;
  transition: opacity 0.3s ease-in;
}
.nav-container .navbar .services .dropdown-content a {
  display: inline-block;
  margin-bottom: 5px;
}
.nav-container .navbar .services:hover .dropdown-content {
  display: block !important;
}
.nav-container .navbar .user-login {
  position: absolute;
  right: 0;
}
.nav-container .btn {
  padding: 10px 20px;
  border: none;
  background-color: #314c62;
  color: #f7f7f7;
  font-size: 16px;
  cursor: pointer;
}
.nav-container .btn:hover {
  opacity: 0.9;
}
.nav-container .btn:active {
  transform: scale(0.98);
}
