@use "./global";

@mixin main {
  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;
    gap: 50px;

    a {
      text-decoration: none;
      color: global.$primary-color;
    }
    .card {
      background-color: #fff;
      max-width: 333px;
      height: 400px;
      cursor: pointer;
      transition: 0.3s ease-in;
      // border-radius: 12px;
      // overflow: hidden;

      img {
        height: 200px;
        width: 333px;
        object-fit: cover;
      }

      .content {
        padding: 5px 12px;

        .title {
          text-transform: uppercase;
          font-weight: 500;
        }

        .desc1 {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 8px 0;
          font-weight: 600;
          font-size: 16px;
          text-transform: capitalize;

          .price {
            text-align: center;
            display: flex;
            align-items: center;
          }

          .agency-logo {
            max-width: 100px;
            img {
              height: 40px;
              width: 100%;
            }
          }
        }

        .icons {
          padding-bottom: 8px;
          font-size: 18px;
        }

        .desc2 {
          line-height: 1.3;
          font-size: 14px;
        }
      }

      &:hover {
        box-shadow: 3px 6px 15px rgba($color: #000000, $alpha: 0.2);
      }
    }
  }
  .badge {
    height: 1.5rem !important;
    width: 1.5rem !important;
    margin-right: 8px;
    color: rgb(73, 226, 142);
  }

  .icons {
    font-size: 14px;
    color: global.$primary-color;
    .icon {
      margin-left: 8px;
    }

    & > :first-child {
      margin-bottom: -3px;
    }
  }
}
