@use "./global";
@use "./header";
@use "./main";
.rent-home {
  width: min(90%, 1100px);
  margin: 0 auto;
  margin-bottom: 2rem;

  @include header.header($url: "../images/rent-home.jpg");
  @include main.main;
}
